/*.form{
	-webkit-box-shadow: 1px 1px  2px 2px #d3d3d3;
	box-shadow: 1px 1px 2px 2px #d3d3d3;
	top:50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
}*/
.title
{
	text-align: center;
}
.d {
    line-height: 400%;
}
.c
{
	line-height:300%;
}
.rig
{
     margin-right: 50%;
}
.mainlogin 
{
	top:50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);

	border: 1px;
	border-color: #d3d3d3;
	box-shadow: 1px 1px 2px 2px #d3d3d3;
    padding: 1px;
    margin: 25px;

    cursor: ;
    opacity:1;
    background-color: #ffffff;

    -webkit-transition: background-color 3s, cursor 3s; /* Safari */
    transition: background-color 3s, cursor 3s;
    transition-timing-function: ease;
}
.padding{
	padding-top: 5%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-left:3% ;
}
.hidden{
	display: none;
}
.loading{
	background-color: #FAFAFA;
	cursor : no-drop;
}
.loadingline {
    width: 40%;
    height: 3px;
    background: #FFB38A;
    position: relative;
    -webkit-animation: loadinganimation 5s 2; /* Safari 4.0 - 8.0 */
    -webkit-animation-direction: normal; /* Safari 4.0 - 8.0 */
    animation: loadinganimation 5s 2;
    animation-direction: normal;
}

@keyframes loadinganimation {
    0%   {left: 0px; }
    25%  {left: 60%;} 
    50%  {left: 0px; }
    75%  {left: 60%; }
    100% {left: 0px; }
}
input[type="email"]{
	border-radius: 0;
	margin-top: 8%;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #d3d3d3; 
	overflow: visible;
}
input[type="email"]:focus{
	outline: none;
	box-shadow: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #4285F4; 
	overflow: visible;
}
.emaillabel{
	cursor: auto;
	top: 52%;
	left:5%;
	color:#000000;
	position: absolute;
	 -webkit-transition: top 0.3s,color 0.3s; 
    transition: top 0.3s,color 0.3s;
    transition-timing-function: ease-in-out;
}
	
