.padding 
{
	top:50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);

	border: 1px;
	border-color: #d3d3d3;
	box-shadow: 1px 1px 2px 2px #d3d3d3;
    padding: 25px;
    margin: 25px;
    padding-top: 8%;
    padding-right: 3%;
    padding-bottom: 6%;
    padding-left:3% ;
}
.d {
    line-height: 400%;
}