/*.form{
	-webkit-box-shadow: 1px 1px  2px 2px #d3d3d3;
	box-shadow: 1px 1px 2px 2px #d3d3d3;
	top:50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 2%;
	padding-right: 2%;
}*/
.title
{
	text-align: center;
}
.d {
    line-height: 400%;
}
.c
{
	line-height:300%;
}
.rig
{
     margin-right: 50%;
}
.padding 
{
	top:50%;
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);

	border: 1px;
	border-color: #d3d3d3;
	box-shadow: 1px 1px 2px 2px #d3d3d3;
    padding: 25px;
    margin: 25px;
    padding-top: 5%;
    padding-right: 3%;
    padding-bottom: 4%;
    padding-left:3% ;
}
.hidden
{
	display: none;
}
